.row {
    margin-right: 0%;
    margin-left: 8%;
}
#titleText {
    margin-left: 12% !important;
    margin-top: 2%;
    font: 30px sans-serif !important;
    font-weight: bold !important;
    text-align: left !important;
}
#download {
    margin-left: -6% !important;
    margin-top: 8% !important;
    font: sans-serif !important;
}
#paragraph {
    font: 14px sans-serif !important;
    text-align: left !important;
}
#covidChart * {
    padding-left: 2% !important;
    font: 12px sans-serif !important;
}
#volumeChart * {
    padding-left: 2% !important;
    font: 12px sans-serif !important;
}
#volumeChart g.y {
    display: none;
}
#toggleButtons {
    margin-left: 17%;
}
#summaryTableChart {
    margin-left: 20%;
}
#summaryTable * {
    font: 14px sans-serif !important;
    padding-top: 25px !important;
    padding-left: 32px !important;
    text-align: center !important;
}
#th#tableHeader * {
    font-weight: bold !important;
}
#footer {
    font: 12px sans-serif !important;
    position: fixed; 
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    z-index: 1;
    background: #000000; 
    color: white;   
}
